
@font-face {
  font-family: "Poppins";
  src: url("../assets/Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/Fonts/Outfit-Regular.ttf");
}.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 800px;
    overflow-x: hidden;
  }
  
  .image-container {
    width: 100%;
    overflow: hidden;
  }
  
  .custom-mask {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  .custom-mask-class {
    top: 0;
  }
  .poppins{
    font-family: "Poppins";
  }
  .outfit{
    font-family: "Outfit";
  }
  
  @media screen and (max-width: 608px) {
    .product-container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  